/node_modules
/public/hot
/public/storage
/public/storage-visivel
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode/
apiinfinitesales.local
laravel-echo-server.lock
laravel-echo-server.json
.idea
.scannerwork/*
worker.log
importacao_comissoes_erro.txt